*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
    font-family: 'Arial', sans-serif;
}

:root{
    /* Back Ground color */
    --bg-primary-color: #0c0c0c;
     /* Tex color color */
    --text-primary-color: #f0f0f0;

}
html{
    background-color: var(--bg-primary-color);
    color: var(--text-primary-color);
}
main,
section {
    width: 100%;
    height: 100vh;
}
section{

}
section .infos{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    
}