*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
    font-family: 'Arial', sans-serif;
}

:root{
    /* Back Ground color */
    --bg-primary-color: #0c0c0c;
     /* Tex color color */
    --text-primary-color: #f0f0f0;
    /* pading variable */
    --space-xs: 4px;
    --space-sm: 8px;
    --space-md: 16px;
    --space-lg: 24px;
    --space-xl: 32px;
    --space-2xl: 40px;
    --space-3xl: 48px;
/* Border color*/
--border-primary-color: #333333;

/* Border Radius*/
--border-radius-xs:4px;
--border-radius-sm:8px;
--border-radius-md:12px;
--border-radius-lg:16px;
--border-radius-xl:20px;
--border-radius-2xl:24px;

}
html{
    background-color: var(--bg-primary-color);
    color: var(--text-primary-color);
}
main,
section {
    width: 100%;
    height: 100vh;
}
section{
    padding: var(--space-2xl);
    display: flex;
    flex-direction: column;
}
section .infos{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    
}
.info{
    padding: var(--space-sm) var(--space-md);
    border: 1px solid var(--border-primary-color);
    border-radius: var(--border-radius-sm);
}
.game-area{
    border: 1px solid var(--border-primary-color);
}